<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::headerFragment('博客后台管理')"></div>
<!--css file-->
<link rel="stylesheet" th:href="@{/common/mditor/css/mditor.css}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script th:src="@{/common/mditor/js/mditor.js}"></script>
<script th:src="@{/js/admin/article/article.js}"></script>

<body>
<div th:replace="common/home_body::home-body"></div>
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">文章管理</h4>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <form class="form-inline col-sm-11" id="search_form">
                            <div class="form-group ">文章标题<input class="form-control" placeholder="名称或其他" name="name"></div>
                            <div class="form-group">
                                <label for="category">分类</label>
                                <select class="form-control" id="category" name="category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ">
                                <option value="">--</option>
                                <option value=1>男</option>
                                <option value=0>女</option>
                            </select></div>
                            <div class="form-group">
                                <label for="tags">标签</label>
                                <input class="form-control" placeholder="名称或其他" name="tags" id="tags">
                            </div>
                            <div class="form-group">
                                <label for="status">状态</label>
                                <input class="form-control" placeholder="名称或其他" name="status" id="status">
                            </div>
                            <div class="form-group">
                                <label for="type">类型</label>
                                <input class="form-control" placeholder="名称或其他" name="type" id="type">
                            </div>
                            <div class="form-group">
                                <label for="beginTime">开始</label>
                                <input type="text" class="datepicker form-control" data-date-format="yyyy-mm-dd 00:00:00" name="beginTime" id="beginTime"/>
                            </div>
                            <div class="form-group">
                                <label for="endTime">截止</label>
                                <input type="text" class="datepicker form-control" data-date-format="yyyy-mm-dd 23:59:59" name="endTime" id="endTime" />
                            </div>
                            <button type="button" id="query" class="btn btn-success query mt-5">查询</button>
                            <button type="button" id="add" class="btn btn-info add mt-5">新建</button>
                            <button type="button" id="batchDelete" class="btn btn-danger mt-5">批量删除</button>
                        </form>
                    </div>
                    <div class="pull-right">
                        <a th:href="@{/admin/page/new}" class="btn btn-success waves-effect waves-light m-b-5">添加新页面</a>
                    </div>
                    <table class="table table-striped table-bordered" id="articleTab">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>分类</th>
                            <th>标签</th>
                            <th>文章状态</th>
                            <th>文章类型</th>
                            <th>是否评论</th>
                            <th>附件</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>