<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::headerFragment('个人博客')" />
<!-- css files -->
<link rel="stylesheet" th:href="@{css/admin/login/login.css}" type="text/css" media="all" />

<body>
	<!-- title -->
	<h1>
		<span>Blog</span>
	</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form  id="loginForm" >
			<div class="form-div-login">
				<label class="login-label">
					<i class="fa fa-user fa-2x icon"></i>
					<input class="login-input" placeholder="请输入账号"  name="userName" type="text" required oninvalid="setCustomValidity('请输入账号')" oninput="setCustomValidity('')">
				</label>
			</div>
			<div class="form-div-login">
				<label class="login-label">
					<i class="fa fa-unlock-alt fa-2x icon"></i>
					<input class="login-input" placeholder="请输入密码" name="password" type="password" required minlength="6" maxlength="18">
				</label>
			</div>
			<!-- checkbox -->
			<div class="wthree-text">
				<ul>
					<li>
						<!-- switch -->
						<div class="checkout-w3l">
							<div class="demo5">
								<div class="switch demo3">
									<input type="checkbox" name="auto">
									<label>
										<i></i>
									</label>
								</div>
							</div>
							<a class="login-record" href="javaScript:void(0);">30天免登录</a>
						</div>
						<!-- //checkout -->
					</li>
					<li>
						<a href="#">忘记密码?</a>
					</li>
				</ul>
			</div>
			<!-- //switch -->
			<input type="button" id="loginBtn" value="登 录">
		</form>
	</div>
	<script type="text/javascript" th:src="@{js/plugins/md5/md5.js}"></script>
	<script type="text/javascript" th:src="@{js/admin/login/login.js}"></script>
	<!--<script type="text/javascript" th:src="@{js/admin/login/login.js}"/> 这种引用加载不进来-->
</body>
</html>