<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>个人博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link rel="stylesheet" th:href="@{css/admin/login/login.css}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" th:href="@{common/font-awesome-4.7.0/css/font-awesome.min.css}">

</head>

<body>
	<!-- title -->
	<h1>
		<span>Blog</span>
	</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form action="#" method="post">
			<div class="form-div-login">
				<label class="login-label">
					<i class="fa fa-user fa-2x icon"></i>
					<input class="login-input" placeholder="请输入账号" name="Name" type="text" required="">
				</label>
			</div>
			<div class="form-div-login">
				<label class="login-label">
					<i class="fa fa-unlock-alt fa-2x icon"></i>
					<input class="login-input" placeholder="请输入密码" name="Password" type="password" required="">
				</label>
			</div>
			<!-- checkbox -->
			<div class="wthree-text">
				<ul>
					<li>
						<!-- switch -->
						<div class="checkout-w3l">
							<div class="demo5">
								<div class="switch demo3">
									<input type="checkbox">
									<label>
										<i></i>
									</label>
								</div>
							</div>
							<a class="login-record" href="#">记住账号</a>
						</div>
						<!-- //checkout -->
					</li>
					<li>
						<a href="#">忘记密码?</a>
					</li>
				</ul>
			</div>
			<!-- //switch -->
			<input type="submit" value="登 录">
		</form>
	</div>


</body>

</html>