<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.myBlog.dao.AttachMapper">
  <resultMap id="BaseResultMap" type="com.blog.myBlog.entity.Attach">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="ftype" jdbcType="VARCHAR" property="ftype" />
    <result column="fkey" jdbcType="VARCHAR" property="fkey" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="created" jdbcType="INTEGER" property="created" />
  </resultMap>
  <insert id="insert" parameterType="com.blog.myBlog.entity.Attach">
    insert into t_attach (id, fname, ftype, 
      fkey, author_id, created
      )
    values (#{id,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{ftype,jdbcType=VARCHAR}, 
      #{fkey,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, #{created,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.myBlog.entity.Attach">
    insert into t_attach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="ftype != null">
        ftype,
      </if>
      <if test="fkey != null">
        fkey,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null">
        #{ftype,jdbcType=VARCHAR},
      </if>
      <if test="fkey != null">
        #{fkey,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>