<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.myBlog.dao.BlogLogMapper">
  <resultMap id="BaseResultMap" type="com.blog.myBlog.entity.BlogLog">
    <result column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="operater" jdbcType="VARCHAR" property="operater" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.blog.myBlog.entity.BlogLog">
    insert into blog_log (log_id, ip, action, 
      description, operater, operate_time
      )
    values (#{logId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{operater,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.myBlog.entity.BlogLog">
    insert into blog_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="operater != null">
        operater,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="operater != null">
        #{operater,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>