<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.myBlog.dao.MetaMapper">
  <resultMap id="BaseResultMap" type="com.blog.myBlog.entity.Meta">
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
  </resultMap>
  <insert id="insert" parameterType="com.blog.myBlog.entity.Meta">
    insert into t_metas (mid, name, slug, 
      type, description, sort, 
      parent)
    values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{parent,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.myBlog.entity.Meta">
    insert into t_metas
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="parent != null">
        parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>